export MACHINE_DRIVER=virtualbox
export VIRTUALBOX_CPU_COUNT=2
export VIRTUALBOX_MEMORY_SIZE=8192
export VIRTUALBOX_DISK_SIZE=40000
export VIRTUALBOX_BOOT2DOCKER_URL=https://github.com/boot2docker/boot2docker/releases/download/v18.06.0-ce/boot2docker.iso
export DOCKER_MACHINE_NAME=azap-ci
export DOCKER_MACHINE_IP=$(docker-machine ip $DOCKER_MACHINE_NAME)

use docker-machine $DOCKER_MACHINE_NAME

export CONCOURSE_EXTERNAL_URL="http://$DOCKER_MACHINE_IP:8080"

export SONARQUBE_LOGIN=f8995255fa5b6f353da06abd77e60b5498676624
export SONARQUBE_HOST=http://192.168.99.100:9000
